@font-face {
  font-family: 'wpdtrt-tourdates';
  src:
    url('fonts/wpdtrt-tourdates.ttf?mprjs5') format('truetype'),
    url('fonts/wpdtrt-tourdates.woff?mprjs5') format('woff'),
    url('fonts/wpdtrt-tourdates.svg?mprjs5#wpdtrt-tourdates') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wpdtrt-tourdates-icon-"], [class*=" wpdtrt-tourdates-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wpdtrt-tourdates' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpdtrt-tourdates-icon-directions_bike:before {
  content: "\e904";
}
.wpdtrt-tourdates-icon-arrow-right:before {
  content: "\ea34";
}
.wpdtrt-tourdates-icon-arrow-left:before {
  content: "\ea38";
}
