/* stylelint-disable */

$icomoon-font-family: "wpdtrt-tourdates";
$icomoon-font-path: '../icons/icomoon/fonts';

$wpdtrt-tourdates-icon-directions_bike: "\e904";
$wpdtrt-tourdates-icon-arrow-right: "\ea34";
$wpdtrt-tourdates-icon-arrow-left: "\ea38";

