/**
 * Styles for the public front-end
 *
 * This file contains CSS.
 *
 * @link        http://dotherightthing.co.nz
 * @since       0.1.0
 *
 * @package     WPDTRT_Tourdates
 * @subpackage  WPDTRT_Tourdates/scss
 */
/**
 * Styles for the tourdates components of the archive page links
 *
 * This file contains CSS.
 *
 * @link        http://dotherightthing.co.nz
 * @since       0.1.0
 *
 * @package     WPDTRT_Tourdates
 * @subpackage  WPDTRT_Tourdates/scss
 */
/**
 * Stack banner
 */
.stack_banner .wpdtrt-tourdates-day {
  display: block;
  /* display on new line */
  position: relative;
  z-index: 4;
  /* stack above .entry-title */
  font-size: .2825em;
  /* margin-bottom: 1px; for Safari, but then 2px in Chrome */
  /*width: 20%; - why? this causes premature wrapping on attachment page */
  /* font-size: 1.125em; 18px */
}

.stack_banner .wpdtrt-tourdates-day--title {
  /* makes text selectable */
  position: relative;
  z-index: 3;
  font-size: .7em;
  display: inline-block;
  /* wrao nicely */
}

.single-attachment .stack_banner .wpdtrt-tourdates-day--title .wpdtrt-tourdates-day--title {
  background-color: transparent;
  font-weight: 500;
  font-size: 1em;
}

.stack_banner .wpdtrt-tourdates-day--images-title {
  line-height: 0;
  margin-bottom: .5em;
}

.stack_banner .wpdtrt-tourdates-day--images-title .wpdtrt-tourdates-day--title {
  font-size: .4em;
}

.stack_banner .wpdtrt-tourdates-day--day,
.stack_banner .wpdtrt-tourdates-day--number,
.stack_banner .wpdtrt-tourdates-day--title {
  background: #fff;
  color: #000;
  padding: 0.3125rem;
  -webkit-box-shadow: 0 0 0 4px #fff;
  box-shadow: 0 0 0 4px #fff;
}

.stack_banner .wpdtrt-tourdates-day--day,
.stack_banner .wpdtrt-tourdates-day--number {
  padding-bottom: 0;
}

.stack_banner .wpdtrt-tourdates-day--day {
  padding-right: 0;
}

.stack_banner .wpdtrt-tourdates-day--number:before {
  content: "#";
}

.stack_banner .wpdtrt-tourdates-day--period {
  display: none;
}

/**
* <= 710px
*/
@media screen and (max-width: 44.375em) {
  .stack_banner .wpdtrt-tourdates-day {
    font-size: 0.45em;
    /* 18px */
  }
}

/**
* 14.1 - >= 568px
*/
@media screen and (min-width: 35.5em) {
  .stack_banner .wpdtrt-tourdates-day--title {
    padding-bottom: 0;
  }
}

/**
* 14.3 - >= 910px
* This is the breakpoint that the MENU button switches to an inline menu
*/
@media screen and (min-width: 56.875em) {
  .stack_banner .wpdtrt-tourdates-day {
    margin-bottom: -.55em;
    /* both! */
  }
}

/**
 * Stack link page
 */
.stack_link_page .wpdtrt-tourdates-day {
  display: block;
  color: inherit;
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: 0.6em;
}

.stack_link_page .stack--text h3 > .wpdtrt-tourdates-day > *,
.stack_link_page .wpdtrt-tourdates-day--title,
.stack_link_page .wpdtrt-tourdates-day--month,
.stack_link_page .wpdtrt-tourdates-day--location {
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 0 0 0 4px #fff;
  box-shadow: 0 0 0 4px #fff;
}

.stack_link_page.stack_link_category .wpdtrt-tourdates-day--location {
  color: #666;
}

.stack_link_page .wpdtrt-tourdates-day--day-range::before,
.stack_link_page .wpdtrt-tourdates-day--number::before {
  content: "#";
}

.stack_link_page .wpdtrt-tourdates-day--period {
  /* extends .says */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  /* many screen reader and browser combinations announce broken words as they would appear visually */
  word-wrap: normal !important;
}

.stack_link_page .wpdtrt-tourdates-day--title {
  display: inline-block;
  font-size: 2em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: .2em;
}

.stack_link_page a:focus .wpdtrt-tourdates-day--title {
  text-decoration: underline;
  /* TODO: this is a temp A11y fix */
}

/*
* @ Stack Navigation
* Bicyle + Arrows
* Used in header and footer
* TEMPLATE: template-parts/wpdtrt-tourdates-navigation
*/
.wpdtrt-tourdates-navigation--text,
.site-header-main .wpdtrt-tourdates-navigation {
  font-family: "Helvetica Neue", sans-serif;
}

.wpdtrt-tourdates-navigation--current {
  font-size: 1.7em;
}

.wpdtrt-tourdates-navigation--text {
  display: inline-block;
  line-height: 1.5;
}

.wpdtrt-tourdates-navigation {
  font-size: .9em;
  text-align: center;
  clear: both;
}

.site-header .wpdtrt-tourdates-navigation {
  padding: 1em 0;
}

.wpdtrt-tourdates-navigation ul {
  list-style: none;
  font-size: 1.4em;
  line-height: 1;
  padding: 0;
  margin-left: 0;
  /* TODO offset lh padding */
  margin-bottom: 0;
}

.wpdtrt-tourdates-navigation ul li {
  display: inline-block;
}

.wpdtrt-tourdates-navigation a,
.wpdtrt-tourdates-navigation .a {
  display: block;
  font-size: 1.2em;
  line-height: 1;
  color: inherit;
  padding: 0.1em;
  /* TODO tweak for breakpoints */
}

.wpdtrt-tourdates-navigation .a {
  color: rgba(0, 0, 0, 0.1);
}

.wpdtrt-tourdates-navigation a::after {
  /* this isn't great but I need non-color feedback here */
  content: "";
  display: block;
  border-bottom: 2px solid transparent;
}

.wpdtrt-tourdates-navigation a:hover, .wpdtrt-tourdates-navigation a:focus {
  color: #000;
}

.wpdtrt-tourdates-navigation a:hover::after, .wpdtrt-tourdates-navigation a:focus::after {
  border-color: #333;
}

.entry-content .wpdtrt-tourdates-navigation a {
  -webkit-box-shadow: 0 0 0 0 currentColor;
  box-shadow: 0 0 0 0 currentColor;
}

/**
* 14.1 - >= 710px
* At this BP the 3 column layout is applied.
*/
@media screen and (min-width: 44.375em) {
  .stack_banner .wpdtrt-tourdates-navigation::after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
  }
}
