//
// @ Stack Navigation
// Bicycle + Arrows
// Used in header and footer
// TEMPLATE: template-parts/wpdtrt-tourdates-navigation
//

.wpdtrt-tourdates-navigation {
    font-size: .9em;
    text-align: center;

    &__current {
        font-size: 1.7em;
    }

    &__text {
        display: inline-block;
        font-family: 'Helvetica Neue', sans-serif;
        line-height: 1.5;
    }

    ul {
        font-size: 1.4em;
        line-height: 1;
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        margin-left: 0; // TODO offset lh padding

        li {
            display: inline-block;
        }
    }

    a,
    .a {
        display: block;
        color: inherit;
        font-size: 1.2em;
        line-height: 1;
        padding: .1em; // TODO tweak for breakpoints
    }

    .a {
        color: var(--wpdtrt-tourdates-link-color-disabled);
    }

    a {

        &::after {
            // this isn't great but I need non-color feedback here
            content: '';
            display: block;
            border-bottom: 2px solid transparent;
        }

        &:hover,
        &:focus {
            color: var(--wpdtrt-tourdates-link-color-hover);

            &::after {
                border-color: var(--wpdtrt-tourdates-link-underline-color-hover);
            }
        }
    }

    @media print {
        display: none !important; /* stylelint-disable-line declaration-no-important */
    }
}
