// Front-end colours
// Compiled via NPM scripts, see package.json
// This file has been separated for consumption by postcss-custom-properties
//
// @package     wpdtrt_tourdates
// @since       1.2.2

// variables
@import 'variables/css';
